<!DOCTYPE html>
<html lang="en">

<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>KatBelle</title>

		<!-- Bootstrap Core CSS -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="/static/css/grayscale.css" rel="stylesheet">

		<!-- Custom Fonts -->
		<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
		<link href="http://fonts.googleapis.com/css?family=Raleway:400,700,400italic,700italic,900" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

		<!-- favicon -->
		<link rel="icon" type="image/png"  href="/static/img/d_graffiti.png">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
				<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

		<!-- Navigation -->
		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
				<div class="container">
						<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
										<i class="fa fa-bars"></i>
								</button>
								<a class="navbar-brand page-scroll" href="#page-top">
									 [KBH]
								</a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
								<ul class="nav navbar-nav">
										<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
										<li class="hidden">
												<a href="#page-top"></a>
										</li>
										<li>
												<a class="page-scroll" href="#about">About</a>
										</li>
										<li>
												<a class="page-scroll" href="#technologies">Technologies</a>
										</li>
										<li>
												<a class="page-scroll" href="#projects">Projects</a>
										</li>
										<li>
												<a class="page-scroll" href="#contact">Contact</a>
										</li>
										<li>
												<a class="page-scroll" href="#resume">Resume</a>
										</li>
								</ul>
						</div>
						<!-- /.navbar-collapse -->
				</div>
				<!-- /.container -->
		</nav>

		<!-- Intro Header -->
		<header class="intro">
				<div class="intro-body">
						<div class="container">
								<div class="row">
										<div class="col-xs-12">
												<div id='kyatto-img'>
														<img id='kyatto' class='img-responsive' src='/static/img/kyatto_blur.png'>
												</div>
												<div id='intro-div'>
														<h1 class="brand-heading">Katherine Hartling</h1>
														<p class="intro-text">Nice to meet you, I'm a <span id='engineer'>software developer.</span></p>
														<p class="intro-text"> はじめまして、<span id='engineer'>ソフトウェア開発者です。</span></p>
														<a href="#about" class="btn btn-circle page-scroll">
																<i class="fa fa-angle-double-down animated"></i>
														</a>
												</div> <!-- close intro div -->
										</div> <!-- close col -->
								</div> <!-- close row -->
						</div> <!-- close container -->
				</div> <!-- close intro-body -->
		</header>

		<!-- About Section -->
		<section id="about" class="container content-section text-center">
				<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
								<h2>About</h2>
								<div id="bio-div">
										<div id='photo-div'>
												<img id="photo" class='img-responsive img-circle' src="/static/img/its_me_kat.jpg">
										</div>
										<p id='bio'>Before I was a software engineer, I was a <a href='http://looksphilosophical.tumblr.com/post/30385621498/i-am-katherine-belle-hartling-but-most-people'>philosophy professor. </a><br>I graduated in December 2018 from <a href='https://hackbrightacademy.com/'>Hackbright Academy</a> <br> and the rest is history.</p>

								</div> <!-- close bio -->
								<hr></hr>
								<p id='bio-2'>I received my BA from UC Berkeley and my MA from the City University of NY Graduate Center, both in Philosophy. I taught courses in Logic, Ethics, and East Asian Philosophy.
								 I'm excited to use my background in logic to solving problems in software. In my spare time I study Japanese and work on perfecting my secret mac n'cheese recipe. </p>
						</div> <!-- close column -->
				</div> <!-- close row -->
		</section>

		<!-- Technologies Section -->
		<section id="technologies" class="container content-section text-center">
				<div class="row">
						<div class="col-lg-8 col-lg-offset-2" id='technologies-header'>
								<h2>Technologies</h2>
						</div> <!-- close column -->
				</div> <!-- close row -->
				<div class="row">
						<!-- <div id='technology-container'> -->
						<div id='offset' class='col-md-15'>
						</div>
						<div class='col-md-15 col-xs-12'>
								<div id='languages' class='technology'>
										<h4 class='tech-head'>Programming Languages</h4>
										<hr></hr>
										<ul class='tech-list'>
												<li>
														Python
												</li>
												<li>
														Javascript
												</li>
												<li>
														HTML
												</li>
												<li>
														CSS
												</li>
												<li>
														SQLAlchemy
												</li>
												<li>
														PostgreSQL
												</li>
										</ul>
								</div> <!-- close languages -->
						</div> <!-- close column -->
						<div class='col-md-15 col-xs-12'>
								<div id="frameworks" class='technology'>
										<h4 class='tech-head'>Frameworks/ Libraries</h4>
										<hr></hr>
										<ul class='tech-list'>
												<li>
														Flask
												</li>
												<li>
														jQuery
												</li>
												<li>
														Bootstrap
												</li>
												<li>
														Jinja
												</li>
												<li>
														Sass
												</li>
										</ul>
								</div> <!-- close frameworks -->
						</div> <!-- close column -->
						<div class='col-md-15 col-xs-12'>
								<div id='industry' class='technology'>
										<h4 class='tech-head'>Industry Tools and SKills</h4>
										<hr></hr>
										<ul class='tech-list'>
												<li>
														Git
												</li>
												<li>
														GitHub
												</li>
												<li>
														Command Line
												</li>
												<li>
														Pair Programming
												</li>
										</ul>
								</div> <!-- close industry -->
						<!-- </div> close technology-container -->
				</div> <!-- close row -->
		</section>

		<!-- Project Section -->
		<section id="projects" class="content-section text-center">
				<div class="projects-section">
						<div class="container">
								<div class="col-lg-10 col-lg-offset-1">
										<div id="project">
												<h2 class='project'>Projects</h2>
												<a href="https://github.com/katbelle/Boba_the_App" class="btn btn-default btn-lg">Boba The App</a>
												<p class='project'>
														This is placeholder text, I'll come up with some spunky things to say about my project soon. <span class='highlight'>PostgreSQL</span> Here I will talk about the PostgreSQL database.</p>

												<div class='row'>
														<div class='col-md-4 col-md-offset-2 col-xs-12'>
																<img id="adjective-gif" class='img-responsive project-img' src='/static/gif/boba_intro.gif'>
														</div> <!-- close column -->
														<div class='col-md-6 col-xs-12'>
																<div id='adjective-map'><p>Users can find nearby boba stores based on their current location using <span class='highlight'>Google Maps API</span>, or use manual input to find boba stores based on zipcode or City.</p></div>
														</div> <!-- close column -->
												</div><!--  close row -->

												<div class='row'>
														<div class='col-md-6 col-md-offset-2 col-xs-12'>
																<div id='kats_thoughts'><p>Users can geolocate boba shops near them or search for boba using <span class="highlight">Google Maps API</span> I'm saying stuff here for filler! <span class='highlight'>ReactJS</span> and <span class='highlight'>Jquery Event Triggers</span> visuals.</p></div>
														</div> <!-- close column -->
														<div class='col-md-4 col-xs-12'>
																<img class='img-responsive project-img' src='/static/gif/sign_up.gif'>
														</div> <!-- close column -->
												</div> <!-- close row -->

												<p>Users can create an account to rate their fav boba spots <span class='highlight'>Google Maps API</span>.</p>

										</div> <!-- close project -->
								</div> <!-- close column -->
						</div> <!-- close container -->
				</div> <!-- close project section -->
		</section>

		<!-- Contact Section -->
		<section id="contact" class="container content-section text-center">
				<div class='contact-section'>
						<div class="row">
								<div class="col-lg-8 col-lg-offset-2">
										<h2>Contact Kat Belle Hartling</h2>
										<p><a href="mailto:katbellehartling@gmail.com">katbellehartling@gmail.com</a>
										</p>
										<ul class="list-inline banner-social-buttons">
												<li>
														<a href="https://github.com/katbelle" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">GitHub</span></a>
												</li>
												<li>
														<a href="https://www.linkedin.com/in/katbelle/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
												</li>
												<li>
													<a href="https://twitter.com/akatoncesaid" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
												</li>
										</ul>
								</div>
						</div>
				</div>
				<div class='row'>
						<div class='col-md-8 col-md-offset-2 col-xs-12'>
								<img class='img-responsive' id='katbelle' src='/static/img/HN_kyatto_banner.png'>
						</div> <!-- close column -->
				<div><!--  close row -->
		</section>

		<!-- Footer -->
		<footer>

		</footer>

		<!-- jQuery -->
		<script src="/static/js/jquery.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="/static/js/bootstrap.min.js"></script>

		<!-- Plugin JavaScript -->
		<script src="/static/js/jquery.easing.min.js"></script>

		<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

		<!-- Custom Theme JavaScript -->
		<script src="/static/js/grayscale.js"></script>

</body>
</html>
